In [ ]:
from IPython.display import HTML
HTML("../mon_style.css")

# Types de base

Les langages de programmation permettent de manipuler des __données__ de différents __types__.
Un type définit l'ensemble des valeurs possibles pour les données qu'il admet.

####  On va comparer trois différentes entrées qui devraient donner le mème résultat.

####  On va comparer trois différentes entrées qui devraient donner le mème résultat.

<span class=nom>1ère entrée :</span>

In [ ]:
print(2+3)

<span class=nom>2ème entrée :</span>

In [ ]:
a=2
b=3
print(a+b)

<span class=nom>3ème entrée : </span>

In [ ]:
a=input('Entrer le nombre 2 : ')
b=input('Entrer le nombre 3 : ')
print(a+b)

###   
Qu'est-ce qui peut provoquer cette différence d'affichage ?  
Réponse :

## Type d'un objet

Nous constatons par là que le symbole 2 peut représenter le nombre 2 ou le caractère 2. Cela dépend du type avec lequel nous avons déclaré ce 2.  
Si nous écrivons `a=2` il comprend que nous déclarons un <span class=nom>int</span> (un entier).  
Si nous écrivons `a="2"` ou `a='2'`, il comprend que nous déclarons un <span class=nom>string</span> (un caractère)

<span class=def>Vocabulaire</span> : l'addition de deux `string`s'appelle la <span class=nom>concaténation</span>.

Pour déterminer le <span class=nom>type</span> d'un objet que nous avons créé, on peut utiliser la commande `type` (justement)

In [ ]:
a=2
b='3'
c=a
d='a'
e=int(b)
#f=int(d)
print(a,' est du type',type(a))
print(b,' est du type',type(b))
print(c,' est du type',type(c))
print(d,' est du type',type(d))
print(e,' est du type',type(e))

###     
Expliquer pourquoi `c` est du type `int`.  

Réponse :

###  
Déterminer le type des objets suivants (*On pourra exécuter un code dans la case suivante pour trouver la réponse*)  :  
* l'égalité `a==3`  :    
* le nombre `pi` que vous obtenez dans la librairie `math` normalement vue en math l'année dernière.   :
* l'écriture `'d'` :  
* le nombre `2,3`  :  
* l'inégalité `64<12` :  
* le texte `'Bonjour'` :
* l'objet `texte` créé par `texte=input('entrer un texte')` :
* l'objet `nombre` créé par `nombre=input('entrer un nombre')` :

###  
Quels sont les objets de différents types que l'on peut ajouter (signe plus) ?  
*Faites des essais pour déterminer les différents cas possibles et le résultat obtenu.

On peut aussi changer le type d'un objet si cela est cohérent.  
Par exemple, on peut transformer un `string` en `int`.

In [ ]:
a='2'
print('a est du type',type(a), 'et vaut :',a)
a=int(a)
print('a est du type',type(a),'et vaut :',a)

In [ ]:
a='2'
print('a est du type',type(a), 'et vaut :',a)
b=int(a)
print('b est du type',type(b),'et vaut :',b)
print("p"+a)
c=float(a)
print('c est du type',type(c),'et vaut :',c)
d=str(c)
print('d est du type',type(d),'et vaut :',d)
e=str(b)
print('e est du type',type(e),'et vaut :',e)

## Changement du type d'un objet

Lorsque qu'un objet admet la même écriture dans un autre type, on puet changer son type.  
Exemples :

In [ ]:
a=3
b=2
print(a+b)
a=str(a)
b=str(b)
print(a+b)

In [ ]:
a=True
b=False
print(a,b)
print(int(a),int(b))
print(a+b)
print(str(a)+str(b))

In [ ]:
a=5.3
print(str(a))
print(int(a))
print(2*str(a),str(2*a))

## Input

On vient donc de voir que __l'instruction `ìnput` enregistre un `string`__.

Voici donc pourquoi on écrit `a=int(input('Entrer un nombre'))` lorsque l'on veut permettre à l'utlisateur d'entrer un nombre que l'on va utiliser dans un calcul. `input()`renvoie un string, et `int()` change son type en nombre entier.

In [ ]:
a=int(input('entrer le premier nombre : '))
b=int(input('entrer le deuxième nombre : '))
c=a+b
print('la somme de ',a, ' et de ',b,' est : ',c,' et non pas',str(a)+str(b))

On peut aussi changer le type de notre imput au sein d'un calcul au besoin :

In [ ]:
a=input('entrer le premier nombre : ')
b=input('entrer le deuxième nombre : ')
c=int(a)+int(b)
print('la somme de ',a, ' et de ',b,' est : ',c,' et non pas',a+b)

###  
Quel est le type des objets `a`, `b` et `c` dans le code suivant ?
Réponse :

In [ ]:
a=3
b=int(input('b = '))
c=a+b
print(c)

###   
Écrire un programme qui demande son nom et son année de naissance à une personne  
et qui donne une réponse personnalisée du type :   
`Frédéric  a  37  ans.`

###   
Écrire un programme de votre choix qui fait intervenir des objets de différents types.

## Chaîne de caractères

Une <span class=nom>chaîne de caractères</span> est un objet composé de caractères (string) dont la place dans cette chaîne est numérotée.   
Le premier caractère est au numéro 0.    
Le dernier caractère est au numéro qui lui correspond ou au numéro -1.    
Pour appeler un caractère donné dans une chaîne de caractères (un string), on écrit le nom de la châine de caratère et on  met entre crochet le numéro correspondant à sa place dans la chaîne.

In [ ]:
z='Bonjour'
print(a)
print(a[0])
print(a[1])
for i in range(7):
    print(a[i],end=" ")

###   
Déterminer pourquoi le code suivant ne fonctionne pas :`print(a[6/2])`

In [ ]:
print(6/2)
print(type(6/2))
print(z[3])

###  
Quel opérateur devrions-nous mettre entre 6 et 2 pour que cela fonctionne et nous renvoie `j` ?   
*Si vous n'avez pas d'idée, vous pouvez chercher sur Internet*

## Récapitulatif

<span class=exemple>int</span>   -->  entier    
<span class=exemple>str</span>   -->  caratrère ou chaine de caractère    
<span class=exemple>float</span> -->  nombre décimal plutôt appelé nombre à virgule en informatique *(on verra pourquoi plus tard)*   
<span class=exemple>bool</span>  -->  Booléen qui a deux valeurs possibles : `True` or `False`.